body{
    background-color:#FFEBD4;
}


footer{
    font-family: font-family: 'Averia Sans Libre', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-size:24px;
    color:#FFFDED;
}

h1{
    font-family: font-family: 'Averia Sans Libre', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-size:198px;
    color:#FFFDED;
    text-align:center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    width: 50%;
  }

.img-group {
	position: relative; 
}

#home-image{
    display: block;
    margin-top:70px;
}

#myimages{
    width: 48%;
    height:auto;
    position: absolute;
    top:145px;
    left:27%;
    display:none;
}

#number{
    font-family: font-family: 'Averia Sans Libre', cursive;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    bottom: 0; 
    color: #FFFDED; 
    font-size: 60px;
    margin-left: 75%;
    margin-right: 10%;
    margin-top: auto;
    margin-bottom: 38vw;
}