@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Press+Start+2P&display=swap');

@keyframes flashingAnimation{
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}

#count_key {
    font-family: 'Bungee', cursive;
    color: rgba(255, 255, 255, 0.801);
    transition: all 0.7s ease-out;
    opacity: 0;
    font-size: 40px;
}

#pressSpace {
    opacity: 100;
    transition: all 0.5s ease-out;
    animation: flashingAnimation 0.7s infinite;
    align-self: center;
    font-family: 'Bungee', cursive;
    color: rgba(255, 255, 255, 0.801);
    letter-spacing: 3px;
    margin-top: 6vh;
    font-size: 40px;
}

.textContainer {
    z-index: 100000;
    margin: 0;
    display: flex;
    flex-direction: column;
    top: 0;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    left: 0;
    right: 0;
    height: 100vh;
}

#number {
    opacity: 0%;
    font-size: 0;
    margin: 0;
}

#land {
    opacity: 0%;
    font-size: 0;
    margin: 0;
}

body {
    background-color: rgb(135,197,197);
    z-index: -1;
    margin: 0;
}

#bottleIdleContainer {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: -1;
    top: 0;
}

#bottleIdle {
    background-image: url(assets/bottle_img.jp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat, no-repeat;
    margin: 0;
    display: inline-block;
    margin-top: -5vh;
    height: 120vh;
    width: 120vw;
}

#bottleLandContainer {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: -2;
    top: 0;
}

#bottleLand {
    margin-top: -2vh;
    height: 114vh;
    width: 114vw;
}

#bottleFailContainer {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: -2;
    top: 0;
}

#bottleFail {
    margin-top: -2vh;
    height: 114vh;
    width: 114vw;
}